<!DOCTYPE html>
<html lang="en" data-theme="cmyk">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Admin</title>
   <%- include('_script') %>
</head>

<body>
    <%- include('_navbar') %>
    
   <div class="flex flex-col items-center mt-8 gap-8">
    <div class="form-control w-full max-w-xs relative">
    <form action="/" method="get">
        <div class="join w-full">
            <input name="search" type="text" placeholder="Search" class="input input-bordered join-item w-full" />
            <button type="submit" class="btn join-item">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                </svg>
            </button>
        </div>
    </form>
    </div>

    <div class="flex flex-wrap justify-center gap-4">
        <a href="/?search=carpentry"><button class="btn btn-outline">Carpentry</button></a>
        <a href="/?search=electrical"><button class="btn btn-outline">Electrical</button></a>
        <a href="/?search=car maintenance"><button class="btn btn-outline">Car maintenance</button></a>
        <a href="/?search=plumbing"><button class="btn btn-outline">Plumbing</button></a>
        
    </div>

    <div class="flex justify-center" style="margin-top: 20px;">
        <div class="alert alert-info bg-amber-100 border-amber-200 py-2 text-sm w-[800px] flex justify-center items-center">
            <span><%= `Jumlah video ada ${dataValues.jml}. Views terbanyak berjumlah ${dataValues.max}, views paling sedikit berjumlah ${dataValues.min}` %></span>
        </div>
    </div>


    <% if (deleted) { %>
        <div class="flex justify-center" style="margin-top: 20px;">
            <div role="alert" class="alert alert-error">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6 shrink-0 stroke-current"
                  fill="none"
                  viewBox="0 0 24 24">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span><%= deleted %> has been deleted</span>
              </div>
        </div>
    <% } %>

    <div class="dropdown dropdown-end dropdown-hover" style="margin-left: 1150px;">
        <div tabindex="0" role="button" class="btn m-1">sort by</div>
        <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
          <li><a href="/?sort=ratings-desc">ratings (high to low)</a></li>
          <li><a href="/?sort=ratings-asc">ratings (low to high)</a></li>
          <li><a href="/?sort=views-desc">views (high to low)</a></li>
          <li><a href="/?sort=views-asc">views (low to high)</a></li>
          
        </ul>
    </div>

    <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <% data.forEach(element => { %>
                <div class="h-[400px] group">
                    <div class="relative h-full transform transition-all duration-300 group-hover:scale-105">
                        <a href="/user/admin/delete?deleted=<%= element.id %>">
                            <button class="absolute top-2 right-2 z-10 bg-red-500 hover:bg-red-600 text-white rounded-full w-8 h-8 flex items-center justify-center shadow-md transition-all duration-300">
                                x
                            </button>
                        </a>
                        <a href="/video/<%= element.id %>" class="block h-full">
                            <button class="card bg-base-100 shadow-xl group-hover:shadow-2xl group-hover:bg-base-200 w-full h-full flex flex-col transition-all duration-300">
                                <div class="h-[200px]">
                                    <img src="<%= element.imageUrl %>" alt="Course Image" class="w-full h-full object-cover rounded-t-2xl"/>
                                </div>
                                <div class="card-body text-left flex-grow flex flex-col justify-between p-4">
                                    <div>
                                        <h2 class="card-title text-left line-clamp-2 mb-2"><%= element.courseName %></h2>
                                        <p class="text-left text-sm text-gray-600"><%= element.Category.categoryName %></p>
                                    </div>
                                    <div class="card-actions justify-between items-center mt-auto">
                                        <div class="rating flex items-center">
                                            <input type="checkbox" class="mask mask-star-2 bg-orange-400"/>
                                            <p class="ml-2"><%= element.ratings %></p>
                                        </div>
                                        <span class="flex gap-2 items-center">
                                            <span class="text-sm"><%= element.formatViews() %></span>
                                            <p class="text-right">views</p>
                                        </span>
                                    </div>
                                </div>
                            </button>
                        </a>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

</body>
</html>